<div class='wrapper'>
    <h1 class='header'>Chicago, IL</h1>
    <div class='main'>
      <div class='info'>
        <p>Humidity: {{ weatherInfo.humidity }} </p>
        <p>Temperature (Average): {{ weatherInfo.tempAve }} </p>
        <p>Temperature (High): {{ weatherInfo.tempHi }} </p>
        <p>Temperature (Low): {{ weatherInfo.tempLo }} </p>
        <p>Status: {{ weatherInfo.status }} </p>
      </div>
      <div class='img'>
        <img class='img' src='assets/chicago.jpeg' alt='chicago.jpeg'>
      </div>
    </div>
  </div>
  