<div class='wrapper'>
  <h1 class='header'>San Jose, CA</h1>
  <div class='main'>
    <div class='info'>
      <p>Humidity: {{ weatherInfo.humidity }} </p>
      <p>Temperature (Average): {{ weatherInfo.tempAve }} </p>
      <p>Temperature (High): {{ weatherInfo.tempHi }} </p>
      <p>Temperature (Low): {{ weatherInfo.tempLo }} </p>
      <p>Status: {{ weatherInfo.status }} </p>
    </div>
    <div class='img'>
      <img class='img' src='assets/sanjose.jpg' alt='sanjose.jpg'>
    </div>
  </div>
</div>

